# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*

.flutter-plugins
.idea/
.packages
android/.gradle/
android/app/src/main/java/io/
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/local.properties
build/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
pubspec.lock
pocketChat.keystore.old
pocketChat.keystore

out
*.iws
*.ipr
*.iml
target
.gradle
build
classes
generated-sources

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
