<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352395986856-g84mfqqi5fkem8r9jj8vebsdeum6lm31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352395986856-g84mfqqi5fkem8r9jj8vebsdeum6lm31</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>352395986856-1c9amm30gn9ps87noib2k0dsnvejo72l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqLPFXfqTSdl6IOo3QBfHzDFCV_pUwgPM</string>
	<key>GCM_SENDER_ID</key>
	<string>352395986856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awpghost.pocketchat.testing.uat</string>
	<key>PROJECT_ID</key>
	<string>pocketchat-b3e0f</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketchat-b3e0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352395986856:ios:333be66b81482bd7d2bf9d</string>
	<key>DATABASE_URL</key>
	<string>https://pocketchat-b3e0f.firebaseio.com</string>
</dict>
</plist>